nav {
  background-color: #dce3ee;
}

.text-link {
  color: #3b3355;
  text-decoration: none;
  transition: all 0.25s;
}

.text-link:hover {
  text-decoration: none;
  color: #000505;
  font-weight: 900;
}
